@import '../../styles/utils.scss';

.Footer {
  width: 417px;

  color: #91ACD4;
  opacity: 0.5;
  font-size: 14px;


  &__politics {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__more {
    cursor: pointer;

    font-weight: bold;
    color: #91ACD4;
    opacity: 0.5;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration-style: dotted;
  }
} 