@import './utils.scss';
@import '../components/Button/Button.scss';
@import '../components/Modal/Modal.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary_dark;
  font-family: "Gilroy";
}