@import '../../styles/utils.scss';

.Modal {
  position: relative;

  width: 695px;
  height: 727px;

  display: flex;
  align-items: center;

  margin: 0 auto;

  background: linear-gradient(177.76deg, #2E354B 0%, #30374C 100%);
  box-shadow: 25px 25px 50px rgba(24, 28, 38, 0.5);
  border: 3px solid;
  border-radius: 10px;
  border-image-source: linear-gradient(177.76deg, #3C4561 0%, #323A52 100%);

  font-family: 'Gilroy';
  flex-direction: column;
  color: $text_color_light;
  text-align: center;

  &__header {
    display: flex;
    flex-direction: row;

    margin-bottom: 43px;

    font-weight: 700;
    font-size: 16px;
  }

  &__trigger {

    display: flex;
    justify-content: center;

    width: 68px;
    height: 34px;

    border-radius: 0px 0px 5px 5px;
    background-color: #83F6B1;

    line-height: 34px;
    color: $text_color_dark;

  }

  &__close {
    position: absolute;
    right: 22px;
    top: 22px;

    display: inline-block;

    padding: 10px;

    width: 12px;
    height: 12px;

    background-image: url('../../img/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    opacity: 0.5;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 1;
    }
  }

  &__headline {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 36px;
  }

  &__counter {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    &--hidden {
      visibility: hidden;
    }
  }

  &__sum {
    color: $accent_lime;
  }
}